---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "home.scss";
@import "download.scss";

.slide-background {
  background-image: url(/assets/img/screenshot.png);
  @media (prefers-color-scheme: dark) {
    background-image: url(/assets/img/screenshot_dark.png);
  }
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature > div {
  padding: 20px;
}
.feature > div:first-child {
  flex-basis: 75%;
}

.feature > div:last-child {
  flex-basis: 25%;
}

.feature > div.party {
  flex-basis: 75%;
}

@media (min-width: 800px) {
  .feature {
    flex-direction: row;
  }
  .feature:nth-child(2n + 1) > div:first-child {
    order: 1;
  }
  .feature:nth-child(2n + 1) > div:last-child {
    order: 0;
  }
}
.dark-light{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}
.dark-light h2{
  margin: 25px;
}